{% extends 'main.html' %} {% block content %}
<section class="h-100 h-custom" style="background-color: #8fc4b7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

            <form method="POST" class="px-md-2">
              {% csrf_token %}
              <div class="form-outline mb-4">
                {% comment %}
                <input type="text" id="form3Example1q" class="form-control" />
                {% endcomment %}
                <label class="form-label" for="form3Example1q">Username</label
                ><br />
                {{ form.username }}
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">email</label
                ><br />
                {{ form.email }}
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">password</label
                ><br />
                {{ form.password1 }}
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q"
                  >confirm password</label
                ><br />
                {{ form.password2 }}
              </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">
                Submit
              </button>
              {{ form.errors }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
